<% layout("layouts/boilerplate") %>

<% block('styles') %>
    <link rel="stylesheet" href="/Styles/viewpost.css">


<div class="container tot-body">

    <img src="https://e5s6t7j5.rocketcdn.me/wp-content/uploads/2020/11/Cycode-You-Should-Care-About-Securing-Your-Source-Code.png" class="cover_img">

    <div class="TAC">
        <h1 class="title container mt-2">
            <%= get_post.title %>
        </h1>

        <div class="mini-info mb-3">
            <a href="/BlogO/profile/<%= logged_id %>"><%= get_post.Owner.username %></a>
             • <%= day_iso %>
             <% if(allow) { %>
                <button><a href="/BlogO/post/<%= get_post._id %>/edit">Edit</a></button>

                <form action="/BlogO/post/<%= get_post._id %>/delete?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
             <% } %>
        </div>
    </div>

    <hr>
    
    <div class="content container">
        <%- get_post.context %>
    </div>

    <script src="/clients/home.js"></script>
</div>